<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="ClientId" value="3e16ec1a-e298-44b6-82b0-bb5fc5847a1c"/>
		<add key="ClientSecret" value="vhRPs/WQ3MJjeuZQJqcZfF+UiiqLNuu9cG0i4inookY="/>
	</appSettings>
	<connectionStrings>
		<add name ="TrackTeamsChanges" connectionString="Server=CSMM1\WIN19SQL17CI;Database=TrackTeamsChanges;Trusted_Connection=True;" providerName="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>